.traversa {
	width: 90%;
	border-radius: 15px;
	background-color: rgba(236, 134, 0, 0.892);
	
	grid-row: 3 / 4;
	grid-column: 1 / 4;
	justify-self: center;
	align-self: center;

	display: flex;
	justify-content: center;
	align-items: center;



	height: 90%;
	
}


.traversa:hover {
	background-color: rgb(236, 134, 0);
	transition: 0.3s;
}


.zone {
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	
	color: black;

	height: 70%;

	padding: 2px 2rem;


	font-size: 2rem;

display: flex;
justify-content: center;
align-items: center;


}


@media (max-width: 1024px) {
	.traversa {
		grid-row: 4 / 5;
	grid-column: 1 / 3;
	

	}

	.zone {
		background-color: rgb(255, 255, 255);
		border-radius: 5px;
		
		color: black;
		height: 70%;
		font-size: 1rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	
	}

}