

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');









.App {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: transparent;


}

.appContainer {


	position: relative;
	z-index: 1;

	width: 70%;
	height: 90%;


	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;



	background-color: rgba(5, 141, 200, 0.8);
	color: rgb(0, 102, 236);
	
	
	border-radius: 50px;
	box-shadow:  0px 0px 10px 0px rgb(255, 255, 255);
}



.appHeader {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	
}

.appMain {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	


	
}




.appKasaMassage {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.5rem;
}


.appInputArt {

	

	font-family: 'Gugi', cursive;
	font-weight: 400;
	
height: 4rem;

	color: rgb(255, 255, 255);

	font-size: 3rem;
	text-align: center;
	border: none;
	border-radius: 15px;
	outline: none;
	width: 80%;

	
	background-color: transparent;
	

	text-shadow: 2px 2px 3px white;

	
	
}

.appInputArt:hover {
	box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
	transition: 0.3s;
}

.appInputArt:focus {
	box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
	transition: 0.3s;
}

.appInputNum {

	

	font-family: 'Gugi', cursive;
	font-weight: 400;
	
height: 4rem;

	color: rgb(255, 255, 255);

	font-size: 3rem;
	text-align: center;
	border: none;
	border-radius: 15px;
	outline: none;
	width: 80%;
	
	background-color: transparent;
	

	text-shadow: 2px 2px 3px white;

	
	
}

.appInputNum:hover {
	box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
	transition: 0.3s;
} 

.appInputNum:focus {
	box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
	transition: 0.3s;
}







::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 0.7; /* Firefox */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	font-size: 2rem;
	text-shadow: none;
}


.appButtonsDiv {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.appButtonZona {
	width: 40%;
	height: 6rem;
	font-size: 2rem;
	border-radius: 15px;
	cursor: pointer;
color: rgb(255, 255, 255);
background-color: rgba(5, 141, 200, 0.5);
	box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
	border: none
}

.appButtonKasa {
	width: 40%;
	height: 6rem;
	font-size: 2rem;
	border-radius: 15px;
	cursor: pointer;
color: rgb(255, 255, 255);
background-color: rgba(5, 141, 200, 0.5);
	box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
	border: none
}




.appButtonZona:hover {


	
	
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 5px white;

	box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
	transition: 0.3s;
}

.appButtonZona:active {
	box-shadow: none;
	background-color: rgb(5, 205, 142);
}

.appButtonKasa:hover {


	
	
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 5px white;

	box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
	transition: 0.3s;
}

.appButtonKasa:active {
	box-shadow: none;
	background-color: rgb(5, 205, 142);
}






.appTraversa {
	width: 80%;
	border-radius: 15px;
	background-color: rgba(236, 134, 0, 0.892);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8rem;
}


.appTraversa:hover {
	background-color: rgb(236, 134, 0);
	transition: 0.3s;
}

.appKasaMassageDiv {
	width: 80%;
	border-radius: 15px;
	
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8rem;
	color: #fff;
	
}



.appZone {
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	
	color: black;
	height: 6rem;
	font-size: 6rem;

display: flex;
justify-content: center;
align-items: center;


}





@media (max-width: 768px) { 


	.App {
		
		height: 90vh;
	
	}


	.appButtonKasa {
		
		display: none;

	}

	.appButtonsDiv {
		width: 100%;
		justify-content: center;
	}

	.appButtonZona {
		width: 90%;
	}


	
	.appInputArt{
		font-size: 2rem;
		width: 90%;
	
	}

	.appInputNum {

		display: none;
	}


	
	.appZone{
		font-size: 4rem;
	}
	

	.appKasaMassage {
		
		font-size: 1rem;
	}

	.appKasaMassageDiv {
		display: none;
	}

	.appTraversa{ 
		width: 90%;
	}


		 }
	

 @media (max-width: 1024px) { 


	.appButtonKasa {
		
		font-size: 2rem;
		height: 4rem;
		
	}
	.appButtonZona {
		
		font-size: 2rem;
		height: 4rem;
		
	}

	

	
			.appInputArt{
				font-size: 2rem;
				min-width: 30%;
			
			}
		
			.appInputNum {
		
				font-size: 2rem;
				min-width: 30%;
			}
		
		
			
			.appZone{
				font-size: 4rem;
			}


			.appKasaMassage {
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				font-size: 1.5rem;
			}
			
			
		}
















		.bubbles{
			position:absolute;
			width:100%;
			height: 100%;
			z-index:0;
			overflow:hidden;
			top:0;
			left:0;
		  }
		  .bubble{
			position: absolute;
			bottom:-100px;
			width:40px;
			height: 40px;
			background:#f1f1f1;
			border-radius:50%;
			opacity:0.5;
			animation: rise 10s infinite ease-in;
		  }
		  .bubble:nth-child(1){
			width:40px;
			height:40px;
			left:10%;
			animation-duration:8s;
		  }
		  .bubble:nth-child(2){
			width:20px;
			height:20px;
			left:20%;
			animation-duration:5s;
			animation-delay:1s;
		  }
		  .bubble:nth-child(3){
			width:50px;
			height:50px;
			left:35%;
			animation-duration:7s;
			animation-delay:2s;
		  }
		  .bubble:nth-child(4){
			width:80px;
			height:80px;
			left:50%;
			animation-duration:11s;
			animation-delay:0s;
		  }
		  .bubble:nth-child(5){
			width:35px;
			height:35px;
			left:55%;
			animation-duration:6s;
			animation-delay:1s;
		  }
		  .bubble:nth-child(6){
			width:45px;
			height:45px;
			left:65%;
			animation-duration:8s;
			animation-delay:3s;
		  }
		  .bubble:nth-child(7){
			width:90px;
			height:90px;
			left:70%;
			animation-duration:12s;
			animation-delay:2s;
		  }
		  .bubble:nth-child(8){
			width:25px;
			height:25px;
			left:80%;
			animation-duration:6s;
			animation-delay:2s;
		  }
		  .bubble:nth-child(9){
			width:15px;
			height:15px;
			left:70%;
			animation-duration:5s;
			animation-delay:1s;
		  }
		  .bubble:nth-child(10){
			width:90px;
			height:90px;
			left:25%;
			animation-duration:10s;
			animation-delay:4s;
		  }
		  @keyframes rise{
			0%{
			  bottom:-100px;
			  transform:translateX(0);
			}
			50%{
			  transform:translate(100px);
			}
			100%{
			  bottom:1080px;
			  transform:translateX(-200px);
			}
		  }