

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');









.App {
	width: 100vw;
	height: 90vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;




	

}

.appContainer {

	width: 90%;
	height: 90%;


	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;



	background-color: rgb(0, 0, 0);
	color: rgb(0, 102, 236);
	
	
	border-radius: 50px;
	box-shadow:  5px 5px 10px 0px black;
}



.appHeader {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	
}

.appMain {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: row;
	
	
}

.appSklad {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
}

.appKasa {
	width: 50%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.appKasaMassage {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.5rem;
}


.appInputArt {

	

	font-family: 'Gugi', cursive;
	font-weight: 400;
	
height: 4rem;

	color: rgb(255, 255, 255);

	font-size: 3rem;
	text-align: center;
	border: none;
	
	outline: none;
	width: 50%;

	
	background-color: transparent;
	border-bottom: 1px solid white;

	text-shadow: 2px 2px 3px white;
	
}

.appInputNum {

	

	font-family: 'Gugi', cursive;
	font-weight: 400;
	
height: 4rem;

	color: rgb(255, 255, 255);

	font-size: 3rem;
	text-align: center;
	border: none;
	
	outline: none;
	width: 50%;
	
	background-color: transparent;
	border-bottom: 1px solid white;

	text-shadow: 2px 2px 3px white;
	
}









::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 0.5; /* Firefox */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.appButton {
	width: fit-content;
	height: 6rem;
	font-size: 4rem;
	border-radius: 15px;
	cursor: pointer;
color: rgb(255, 255, 255);

	
	background-color: rgb(0, 102, 236);

	box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
	border: none
}




.appButton:hover {


	background-color: rgb(32, 129, 255);
	
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 5px white;

	box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
	transition: 0.3s;
}

.appButton:active {
	box-shadow: none;
	background-color: rgb(0, 219, 0);
}





.appTraversa {
	width: 95%;
	border-radius: 15px;
	background-color: rgb(236, 134, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8rem;
}


.appTraversa:hover {
	box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
	transition: 0.3s;
}

.appKasaMassageDiv {
	width: 95%;
	border-radius: 15px;
	border:  1px solid white;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8rem;
	color: #fff;
	
}

.appKasaMassageDiv:hover {
	box-shadow: 0px 0px 20px 2px rgb(255, 255, 255);
	transition: 0.3s;
}


.appZone {
	background-color: #fff;
	border-radius: 5px;
	
	color: black;
	height: 6rem;
	font-size: 6rem;

display: flex;
justify-content: center;
align-items: center;


}





@media (max-width: 768px) { 

	.appButton {
		
		font-size: 2rem;
		
	}



	
	.appInputArt{
		font-size: 2rem;
		width: 90%;
	
	}

	.appInputNum {

		display: none;
	}


	
	.appZone{
		font-size: 4rem;
	}
	
	.appKasa {
		display: none;
	}
	
	.appSklad {
		width: 100%;
	}
	.appKasaMassage {
		
		font-size: 1.5rem;
	}


		 }
	

 @media (max-width: 1024px) { 


	.appButton {
		
		font-size: 3rem;
		
	}

	
			.appInputArt{
				font-size: 2rem;
				min-width: 30%;
			
			}
		
			.appInputNum {
		
				font-size: 2rem;
				min-width: 30%;
			}
		
		
			
			.appZone{
				font-size: 4rem;
			}


			.appKasaMassage {
				
				font-size: 2rem;
			}
			
			
		}




