@tailwind base;



@tailwind components;



@tailwind utilities;


@layer base {
	
	body {
		
		font-family: 'Poppins', sans-serif;

		/* background: #040c1d;   */
		background-image: url( "https://wallscloud.net/img/resize/1920/1080/RM/2016-10-20-%D0%A1%D0%B5%D1%80%D0%B4%D0%B8%D1%82%D1%8B%D0%B9_%D0%9A%D0%BE%D1%82%D0%B8%D0%BA.jpg");  
		background-size: cover;
		min-height: 100vh;
		
	  }


iframe {
	color: white;
}

	}

	@layer components {




	



	}